@font-face {
  font-family: Playfair-Display-Font;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

body {
  margin-left: 0;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
}

#toolbar {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#seperator01 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 5em;
}

.headline {
  margin-left: 9%;
  display: flex;
  width: 83%;
  height: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#name {
  padding-top: 5%;
  font-family: Playfair-Display-Font, 'Times New Roman', Times, serif;
  font-size: 3.8em;
  color: #1a2236;
}

#message {
  font-size: 1.5em;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #1a2236;
}

.text {
  text-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}
