@font-face {
  font-family: Playfair-Display-Font;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

html body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toolbar {
  height: 10em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#shape01 {
  padding-top: 5em;
}

#menubutton {
  margin-top: 10px;
  padding-right: 1em;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name {
  padding-top: 5%;
  font-family: Playfair-Display-Font, 'Times New Roman', Times, serif;
  font-size: 8em;
  color: #1a2236;
}

#message {
  font-size: 1.5em;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #1a2236;
  padding-bottom: 4em;
  margin-top: -10px;
}

.text {
  text-shadow: 0 12px 8px rgb(0, 0, 0, 0.25);
}

#button {
  width: 18em;
  height: 3em;
  background-color: #1a2236;
  color: white;
  font-size: 48px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

#shape02 {
  width: 980px;
  padding-top: 5em;
}
